/* flex for image, nav links */
  /* .header-part{
      border: 1px solid white;
   display: flex;
  flex-direction: row;
  align-items: baseline;
  align-content: space-around;
  justify-content: center;

  } */

  /* .navigation{
    border: 1px solid white;
   display: inline-block;
   flex-direction: row;
   align-items: baseline;
   align-content: space-around;
   justify-content: center;

} */



  /* <!-- <nav class="nav-links">
  <ul>
    <li><a href="#home">Home</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#expertise">Expertise</a></li>
    <li><a href="#teams">Teams</a></li>
    <li><a href="#works">works</a></li>
    <li><a href="#peoplesay">People Say</a></li>
    <li><a href="#contact">contact</a></li>
  </ul>
 </nav>
 </div> --> */
