


/*Don't give your website a set width and length from the get go as it will look different on other screens*/

/* header Flex  */
.header {
    display: flex;
    flex-wrap: wrap;
    align-items:flex-start;
    justify-content: space-around; 
    /* align-content: center;  */
    background-image: url("images/photoshop/design-assets/bgk-header.png");
    background-size: cover;
    background-position: center;
    /* padding-top: 200px;
    padding-bottom: 200px; */

    height: 650px;


  }
  


  /* flex for image and tajam */
.header-img{
  margin-top: 0px;
  /* padding-top: 10px; */
  margin-left: 230px;
display: flex;
flex-direction: row;
align-items: center;
 justify-content:space-around;
 align-content: flex-end;
 padding: 3px 30px;
 /* border: 1px solid red;  */
 
}



 .h-img{
width: 45px;
height: 50px;
     /* margin: auto; */

 }
 .tajam { 
   margin: 10px;
 font-size: 28px;
 color:lightseagreen;
 }

/* flex for NAVIGATION */

 .navigation{
 
 display:flex;
 flex-direction: row;
 align-items:flex-start ;
  align-content: flex-start; 
 justify-content: center;

}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    font-size: 13px;
    padding: 0 15px;
    color: white;
    margin: 0px;

}

.home{
  color: lightseagreen;
}


 /* FLEX for CONTENT */

 .header-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
   justify-content: center; 

   
}


  .heading{
    font-family: 'Playfair Display';
    color:beige;

  }

  .hr-bar { 
    size : 3;
    width: 3%;
    /* color: lightseagreen; */
    
    }
    





  .caption {
    margin-left: 330px ;
    margin-right: 350px;
   line-height: 26px;
    text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color:beige;
  
  }


  .btn{
    /* margin-top:50px; */
    width: 120px;
    height: 40px;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid aqua;
    
    color: lightseagreen;
    background-color: rgba(255,255,255,0);
   

  }



    



  
/* SECOND CONTAINER  */


.our-story-container {
 /* height: 400px; */
 
 display: flex;
 flex-direction: row;
 justify-content:center;
 align-content: center;
 align-items: flex-start;
 border: 2px solid green;
 padding-top:50px ;
padding-bottom: 50px;
}


.our-story-container-img{
  margin-left: 300px;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-right: 100px;
  /* border: 2px dotted red; */

}


.our-story-container-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  /* justify-content: flex-start; */
 
  /* border: 4px dotted purple; */

}


.our-story-container-para {

  margin-left: 0px ;
  margin-right: 190px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  line-height: 25px;
  padding-bottom: 20px;
 
  /* border: 4px dotted black; */

} 




  .btn{
    padding: 5px;
    border: 1px solid aqua;
    
    color: lightseagreen;
    background-color: no  currentColor;
   

  }







/* THIRD CONTAINER  */


  .watch-our-story-container {
    display: flex;
flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;  
    background-image: url("images/photoshop/design-assets/bgk-middle.png");
    background-size: cover;
    background-position: center;
    height: 540px;
  }

.watch-our-story-container-content{
  color: white;
}




/* EXPERTISE CONTAINER  */
/* 
.expertise-container {
  display: flex;
flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;  
  background-image: url("images/photoshop/design-assets/svg/Billabong.svg");
  background-size: cover;
  background-position: center;
 
 
  
  
} */




/* TEAM CONTAINER  */
.team-container {
  display: flex;
flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;  
  background-image: url("images/photoshop/design-assets/bgk-header.png");
  background-size: cover;
  background-position: center;
  text-align: center;
  
 
  padding-top: 100px;
  padding-bottom: 100px;


  /* height: 693;*/
}


.team-members{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* align-items: center; */

}

.team-bar { 
  size : 5;
  width: 6%;
  margin:0 auto;
  /* color: lightseagreen; */
 
  }
  .team-container h3 {
    margin-top:0px;
    color: white;
  }
  
  
  .team-container p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
  }
  

.box1 , .box2 ,.box3,  .box4{
  height: 300px;
  width: 220px;
  padding: 0px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
 
 

  border: 1px solid gray; 
}

.box1 .box1-img, .box2-img, .box3-img, .box4-img{
  height: 70%;
  background-color: white;
}



/* 
display: flex;
 flex-direction: row;
 justify-content:center;
 align-content: center;
 align-items: flex-start;
 border: 2px solid green;
 padding-top:50px ;
padding-bottom: 50px; */





/* CLIENT CONTAINER  */
.client-container {
  display: flex;
flex-direction: row;
  
  align-items: flex-start;

  justify-content: center; 

  background-image: url("images/photoshop/design-assets/svg/Billabong.svg");
  background-size: cover;
  background-position: center;

  padding-top: 80px;
  padding-bottom: 80px;
  
  /* height: 660px; */
}

 .good-news-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  margin-left: 0px;
  padding-left: 0px;
  /* margin-right: 150px; */
  
 }


  


  .good-news-container input {
  width: 550px;
  height: 50px;
   }

.good-news-container h3{
  margin-bottom: 40px;
  font-size: 25px;
  color: rgb(32, 32, 32);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}



.happy-client-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-left: 0px;
  margin-right: 200px;
  /* justify-content: space-between; */
  /* border: 2px solid black; */

}


.client-title h3{
  justify-content: left;
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  
.client-logos-container1{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: space-around;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 2em;


}

.zara{
  margin-top: 0em;
  margin-bottom: .5em;
}

.barneys{
  margin-bottom: 4em;
}

.calvin{
  margin-bottom: 4em;
}
.converse{
  margin-bottom: 4em;
}
.levis{
  margin-bottom: .5em;
}


.mango{
  margin-top: 0.5em;
  margin-bottom:  0.5em;
}

.gucci{
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}


.nike{
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.puma{
  margin-top: 2.5em;
  margin-bottom: 1.5em;
}

.billabong{
  margin-top: 2.5em;
  margin-top: 1.5em;
}













.client-logos-container2{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: space-around;
  justify-content: space-around;
  margin-left: 0px;


}

.btn{
  padding: 5px;
  /* font-size: 15px; */
  border: 1px solid aqua;
  
  color: lightseagreen;
  background-color: no  currentColor;
 

}














/* FooTer CONTAINER  */
.footer-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center;   */
  /* align-items:baseline; */
   
  background-image: url("images/photoshop/design-assets/bgk-footer.png");
  background-size: cover;
  background-position: center;
  padding-top:100px;
  padding-bottom: 100px;

}

/* logo  CONTAINER*/


.logo-tajam{
  display: flex;
  flex-direction: column;
  justify-content:left ;
  align-items: left;
 /* margin-top: 30px; */
 
  margin-right:50px;
  margin-left: 150px;
  
}
.logo-t{
display: flex;
flex-direction: row;
margin-bottom: 15px;
justify-content: left;
}


.logo-p {
  margin-bottom: 20px;
  line-height: 28px;
color: white;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}



/* OUR STUDIO CONTAINER*/
.our-studio{
  display: flex;
  flex-direction: column;
  justify-content: left;
  
  padding-top: 15px;
  /* margin-top: 30px; */
  margin-right:30px;
  margin-left: 30px;
  width: 18em;
 
  
}
.our-p{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 15px;
}

.phone {
  display:flex;

  flex-direction: row;
    
    /* justify-content: ; */
}

.our-s{
  color: white;
  justify-content: left;
}


.map{

    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    /* justify-content: space-between; */

}



.our-studio p, h4{
  color: white;


}
 

/* STAY IN TOUCH CONTAINER*/

.stay-in-touch{
  padding-top: 15px;
  /* padding-top: 25px;  */
  /* margin-top: 25px; */
  margin-right:150px;
  margin-left: 80px;
 

}
.stay-in-touch input{
  background-color: rgba(255,255,255,0);
  border: 1px solid rgb(143, 139, 139);
  width:200px;
}
.subscribe{
display: flex;
flex-direction: row;
  margin-top: 10px;
  margin-bottom: 30px;
}
.subscribe input{
  height: 40px;
  width: 250px;
  color: white;
  font-size: medium;
}

.logos{
  margin-top: 30px;
  margin-bottom: 20px;

}
.paper-img{
  margin-left: 0.5em;
  padding-top:12px;
  padding-bottom:12px;
  padding-left:20px;
  padding-right:20px;
  background-color:rgb(245, 245, 234);

  
}

.lower-part{
display: flex;
justify-content: space-between;
margin: 1em 10em 0 9em;
width: 80%;
}

.upper-part{
  display: flex;
  flex-direction: row;
}


.help{
  display: flex;
 flex-direction: row;
 
 justify-content: left;
  color: white;
  

}




/* Expertise section*/
.expertise-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* border: 1px solid green; */
}

.top-content-expertise h2{
  margin-bottom: 0.5rem;
  color: black;
}


.top-content-expertise h4{
  color:gray;
  margin-top: 0.5rem;
}

.top-content-expertise h4:after {
  content: " ";
  display: block;
  margin: 0 auto;
  width: 13%;
  padding-top: 0.9rem;
  border-bottom: 1px solid gray;
  opacity: 1;
  height: 10;
}

.expertise-grid-container {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  height: 50vh;
  width: 100vh;
  /* border: 1px solid pink */
}

.expertise-grid-item {
  display: flex;
  flex-direction: column;
  width: 33%;
  align-items: center;
  justify-content: center;
}

.expertise-grid-item img {
  margin-bottom: 2rem;
}

.expertise-grid-item h3 {
  margin-bottom: 1.5rem;
  color: black;
}

.expertise-grid-item p {
  width: 80%;
  font-size: 0.975rem;
  letter-spacing: 0.6px;
}
 .id{
   font-size: 80px;
 }
.border-right {
  border-right: 1px solid lightgrey;
}

.border-bottom {
  border-bottom: 1px solid lightgrey;
}







/*end*/