



* {
    margin: 0;
    }
    nav {
    color: red;
    }
    #hero-section {
    color: blue;
    }
    #our_stroy-section {
    color: green;
    }
    #watch-section {
    color: darkred
    }
    #expertise-section {
    color: yellow;
    }
    #team-section {
    color: lightsalmon;
    }
    foorer {
    color: blueviolet;
    }
    
    


